/*Estilo que da el fondo gradient al contenedor del pane principal*/
.ventanas {
    -fx-background-color: radial-gradient(center 90% 90%, radius 60%, #D0D5DA, #99A2AB);
}

/*Estilo general para todos los label*/
.label {
    -fx-font-family: "Times New Roman";
    /*-fx-font-family: "Berlin Sans FB Demi";*/
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 10, 0, 0, 1);
}
#paneBarraSuperior{
    -fx-background-color:  #666C72;
}
/*Estilo para los label que titulan las diferentes vistas*/
.labelEncabezado {
    -fx-font-size: 25px; 
    -fx-font-weight: bold;
}

/*Estilo para los label que indican la navegacion con las flechas */
.labelNav {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

/*Botones de cerrar y minimizar la ventana*/
#boton_cerrar:hover{
    -fx-background-color: #C42B1C
}

#boton_minimizar:hover{
    -fx-background-color: #99A2AB
}

