/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-nov-2022, 21:58:01
    Author     : danie
*/

/*Estilo 1*/

#titulo { -fx-font-family: "Hervetica"; 
         -fx-font-style: italic;
         -fx-font-size: 36px;
         -fx-text-fill: #FFFFFF;
}

#fondo { -fx-background-color: #000000; }

Button { -fx-background-color: #008287;
         -fx-border-color: #FFFFFF;
         -fx-border-width: 2;
         -fx-text-fill: #FFFFFF;
         -fx-font-family: "Times New Roman";
         -fx-font-style: italic;
         -fx-font-size: 28px;
         -fx-background-radius: 10 10 10 10;
         -fx-border-radius: 10 10 10 10;
}

#autor { -fx-font-family: "Hervetica";
         -fx-text-fill: #FFFF00;
         -fx-font-size: 12px;
}

Button:hover { -fx-background-color: #333333;
               -fx-font-size: 22px;
}

Button:pressed { -fx-background-color: #FFFFFF;
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
}

/*Estilo 2*/
#titulo { -fx-font-family: "Times New Roman"; 
         -fx-font-style: italic;
         -fx-font-size: 36px;
         -fx-text-fill: #FFFFFF;
}

#fondo { -fx-background-color: #F90000; }

Button { -fx-background-color: #E6FD74;
         -fx-border-color: #FFFFFF;
         -fx-border-width: 2;
         -fx-text-fill: #FF3399;
         -fx-font-family: "Georgia";
         -fx-font-style: italic;
         -fx-font-size: 28px;
         -fx-background-radius: 10 10 10 10;
         -fx-border-radius: 10 10 10 10;
}

#autor { -fx-font-family: "Times New Roman";
         -fx-text-fill: #660099;
         -fx-font-size: 12px;
}

Button:hover { -fx-background-color: #333333;
               -fx-font-size: 22px;
}

Button:pressed { -fx-background-color: #FFFFFF;
                 -fx-text-fill: #000000;
	         -fx-font-weight: bold;
}
/*Estilo 3*/
#titulo { -fx-font-family: "Berlin Sans FB"; 
         -fx-font-style: italic;
         -fx-font-size: 36px;
         -fx-text-fill: #FFFFFF;
}

#fondo { -fx-background-color: #660099; }

Button { -fx-background-color: #02CF08;
         -fx-border-color: #FFFFFF;
         -fx-border-width: 2;
         -fx-text-fill: #FFCC00;
         -fx-font-family: "Comic Sans MS";
         -fx-font-style: italic;
         -fx-font-size: 28px;
         -fx-background-radius: 10 10 10 10;
         -fx-border-radius: 10 10 10 10;
}

#autor { -fx-font-family: "Berlin Sans FB";
         -fx-text-fill: #0097D7;
         -fx-font-size: 12px;
}

Button:hover { -fx-background-color: #333333;
               -fx-font-size: 22px;
}

Button:pressed { -fx-background-color: #FFFFFF;
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
}
