/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-dic-2022, 23:07:04
    Author     : danie
*/

.pane{
    -fx-border-style:solid; 
    -fx-border-color:#1cac78
}



.pane:hover{
    -fx-effect: dropshadow( gaussian, #addfad, 10, 0.5, 0.0, 0.0 );
    -fx-padding: 10; 
    -fx-background-radius: 5;
    /*-fx-background-color: #e9ffdb;*/
    -fx-background-color: #d0f0c0;
}

.boton_especial:hover{
     -fx-font-size: 16px;
}
